@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import 'include-media'; $breakpoints: (phone: 425px, tablet: 768px, desktop: 1024px);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --padding: 1.5rem;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #777;
  --color-light: #efefef;
  --color-text: var(--color-black);
  --color-text-grey: var(--color-grey);
  --color-background: var(--color-white);
  --color-code-light-grey:  #cacbd1;
  --color-code-comment:     #a9aaad;
  --color-code-white:       #c5c9c6;
  --color-code-red:         #d16464;
  --color-code-orange:      #de935f;
  --color-code-yellow:      #f0c674;
  --color-code-green:       #a7bd68;
  --color-code-aqua:        #8abeb7;
  --color-code-blue:        #7e9abf;
  --color-code-purple:      #b294bb;
  --font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-mono: "Roboto Mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

html {
  font-family: var(--font-family-mono);
  color: var(--color-text);
  background: var(--color-background);

  &.scrollable {
    overflow: hidden;
 }

 overflow-x: hidden;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

img {
  width: 100%;
}

nav a {
    display: block;
}



header.main-header {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  height: 4.5rem;
  display: flex;
  background-color: var(--color-white);
  color: var(--color-black);
  align-items: center;
  transition: top 0.3s;
  padding: 0 calc(var(--padding)/2);

  h1 {
    flex: 1;
  }

  a {
    text-decoration: none;
    color: var(--color-black);
  }

  &.static {
    background-color: transparent;
    position: absolute;
    z-index: 101;

    a.logo {
      color: var(--color-white);
    }
    
    @include media(">phone") {
      background-color: transparent;

      a {
        color: var(--color-white);
      }
    }


  }

  &.is-hidden {
    top: -4.5rem;
  }
}

.menu-toggle {
  position: relative;
  z-index: 2000;
  width: calc(var(--padding)*2);
  height: calc(var(--padding)*2);

  @include media(">phone") {
    display: none;
  }
}

.menu {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 100vw;
  width: 100vw;
  height: 100vh; max-height: -webkit-fill-available;
  background-color: var(--color-white);
  color: var(--color-black);

  display: flex;
  flex-direction: column;

  padding: var(--padding);
  transition: left 0.3s;

  &.active {
      left: 0;
  }

  ul li {
    list-style: none;
    margin-bottom: calc(var(--padding)/2);

    a {
      width: fit-content;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include media(">phone") {
    display: block;
    position: static;
    width: auto;
    background-color: transparent;

    padding-right: 0;

    > ul {
      display: flex;
      width: 100%;
      > li {
        list-style: none;
        margin: 0 calc(var(--padding)/2);

        &:last-child {
          margin-right: 0;
        }
      }
    }

  }
}


main {
  >:first-child {
    padding-top: 4.5rem;
  }
}



button {
  font-family: inherit !important;
  font-size: inherit !important;
}

.shopify-buy-frame--toggle:not(.is-sticky) {
  padding: 0 !important;
  display: inline-block;
}

.is-inline.shopify-buy__cart-toggle button {
  padding: 0 .5rem;
  > * {
  display: inline-block;
  }
}

#hero {
  display: block;
  height: 100vh; max-height: -webkit-fill-available;
  background-color: var(--color-code-red);
  position: relative;
  z-index: 100;
}