.note {
  /* max-width: 35rem; */
  margin: 0 auto;
}
.note-header {
  padding-top: 3rem;
  margin-bottom: 3rem;
}
.note-footer {
  padding: 3rem 0;
}
.note-date {
  color: var(--color-text-grey);
  font-size: 1.2rem;
}
.note-tags-list {
  display: flex;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}
.note-tags li {
  margin-right: .5rem;
  font-size: 1rem;
  line-height: 1rem;
}
.note-tags a {
  padding: .5rem 1rem;
  display: block;
  background: var(--color-light);
}
.note-tags a:hover {
  background: var(--color-black);
  color: var(--color-white);
}

.note-header figure {
  margin-bottom: 1rem;
}

.note-header .img-caption {
  font-size: 1rem;
  color: var(--color-text-grey);
  text-align: right;
}
.note-header img {
  display: block;
}

.note-header a {
  display: inline-block;
}

.note-authors h2{
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

.note-authors-list {
  display: grid; 
  grid-template-columns: repeat( auto-fill, minmax(20rem, 1fr) );
  gap: 1.25em; 
}

.note-authors-list li {
  padding: 1rem;

  background: var(--color-light);
}

.note-authors-list img {
  display: block;
}
.note-authors-list .no-image {
    position: relative;
    display: block;
    --w: 1;
    --h: 1;
    padding-bottom: calc(100% / var(--w) * var(--h));
    /* background: var(--color-light); */
    background-image: url("https://pbs.twimg.com/media/E6sOhZMVcAAC8be?format=jpg&name=large");
    background-size: contain;
    background-position: center;
}

.note-authors-list .name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: .5rem;
}


.note-authors-list figcaption {
  display: grid; 
  gap: .5em; 
}


